// General
* {
	@include box-sizing(border-box);
}
body {
	background-color: $background-light;
	font-family: $text-font;
}
a {
	color: $blue;
}
p {
	line-height: 1.4;
}
.section-title {
	color: $red;
	font-family: $feature-font;
	font-size: 2em;
	margin: 0 auto;
	padding: 0.5em 0;
}

// Layout
.wrapper {
	@extend %clearfix;
	width: auto;
	margin: 0 1em;
	@include at-least($bro-bear) {
		width: 90%;
		margin: 0 auto;
	}
}
.menu-wrapper {
	@extend %clearfix;
}

//Header
.main-header {
	@extend %clearfix;
	background-color: $dark-jean;
	padding: 1em;
	.header-wrap {
		@extend .wrapper;
		@include at-most($bro-bear) {
			margin: 0;
		}
	}
	.logo {
		background-image: url(../logo-pastelbox.min.svg);
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		float: left;
		text-decoration: none;
		width: 3rem;
		height: 3rem;
	}
	h1 {
		color: $red;
		font-family: $feature-font;
		margin: 10px 0 0 100%;
	}
}

.main-nav {
	float: right;
}
.main-menu {
	@extend %clearfix;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		padding-bottom: 0.3em;
		@media (min-width: $bro-bear) {
			float: left;
			padding: 0;
		}
		&:hover,
		&.current {
			a {
				color: $green;
			}
		}
		a {
			color: $white;
			display: block;
			font-family: $feature-font;
			text-decoration: none;
			text-transform: uppercase;
			@include at-least($bro-bear) {
				font-size: 1.2em;
				padding: 0.5em 1em 0;
				text-align: center;
			}
		}
		span[class^="fontawesome"] {
			font-size: 1.1em;
			margin-right: 0.6em;
			position: relative;
			text-align: center;
			&:before {
				margin: 0;
			}
		}
	}
}

// Footer
footer {
	background-color: $dark-jean;
	padding: 1em 0;
	.attribution {
		color: $white;
		float: left;
	}
	.footer-links {
		float: right;
		margin-top: 1em;
		a {
			color: $green;
			&:hover {
				color: $dark-green;
			}
		}
	}
}