// General
* {
	box-sizing: border-box;
}
html {
	font-size: 100%;
}
body {
	background-color: $background-light;
	font-family: $text-font;
}
a {
	color: $blue;
}
p {
	line-height: 1.4;
}
.section-title {
	color: $red;
	font-family: $feature-font;
	font-size: 2em;
	font-weight: 700;
	margin: 0 auto;
	padding: 0.5em 0;
}

// Layout
.wrapper {
	@extend %clearfix;
	width: auto;
	margin: 0 1em;
	@include at-least($bro-bear) {
		width: 90%;
		margin: 0 auto;
	}
}
.menu-wrapper {
	@extend %clearfix;
}

//Header
.main-header {
	@extend %clearfix;
	background-color: $dark-jean;
	padding: 0.5em 0 1em;
	.header-wrap {
		@extend .wrapper;
		@include at-most($bro-bear) {
			margin: 0;
			padding: 0 1em;
		}
	}
	.logo {
		background-image: url(../logo-pastelbox.min.svg);
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		float: left;
		text-decoration: none;
		width: 3rem;
		height: 3rem;
	}
	h1 {
		color: $red;
		font-family: $feature-font;
		font-weight: 700;
		margin: 0.6rem 0 0 120%;
	}
}

.main-nav {
	float: right;
}
.main-menu {
	@extend %clearfix;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		padding-bottom: 0.5em;
		@media (min-width: $bro-bear) {
			float: left;
			padding: 0;
		}
		&:hover,
		&.current {
			a {
				color: $green;
			}
		}
		a {
			color: $white;
			display: block;
			font-family: $feature-font;
			text-decoration: none;
			text-transform: uppercase;
			@include at-least($bro-bear) {
				font-size: 1.5em;
				padding: 0.5em 1em 0;
				text-align: center;
			}
		}
		span[class^="fontawesome"] {
			font-size: 1.3em;
			margin-right: 0.6em;
			position: relative;
			text-align: center;
			&:before {
				margin: 0;
			}
		}
	}
}

.form {
	label {
		display: block;
	}
	.disclaimer {
		label {
			color: lighten($dark-jean, 40%);
			font-size: 0.7em;
			&:hover {
				color: lighten($dark-jean, 10%);
			}
		}
		.error {
			color: $red;
		}
	}
}

form {
	&:before {
		background-color: #000;
		border-radius: 5px;
		content: '';
		display: none;
		margin-left: -25px;
		margin-top: -25px;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
	}
	&:after {
		background: rgba(0,0,0,0.3) url(assets/fancybox_loading@2x.gif) center no-repeat;
		content: '';
		display: none;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&.loading {
		&:before,
		&:after {
			display: block;
		}
	}
}

// Footer
footer {
	background-color: $dark-jean;
	padding: 1em 0;
	a {
		color: $green;
		&:hover {
			color: $dark-green;
		}
	}
	p {
		color: $white;
	}
	.attribution {
		float: left;
	}
	.report-issue {
		float: right;
	}
	.footer-links {
		float: right;
		margin-top: 1em;
	}
}