// General
* {
	box-sizing: border-box;
}
html {
	font-size: 100%;
}
body {
	background-color: white;
	font-family: $text-font;
}
a {
	color: $blue;
}
p {
	line-height: 1.4;
}
.section-title {
	color: $red;
	font-family: $feature-font;
	font-size: 2rem;
	font-weight: 700;
	margin: 0 auto;
	padding: 0.5em 0;
}

// Layout
.wrapper {
	@extend %clearfix;
	width: auto;
	margin: 0 1em;
	@include at-least($bro-bear) {
		width: 90%;
		margin: 0 auto;
	}
}
.menu-wrapper {
	@extend %clearfix;
}

//Header
.header-banner {
	background-color: $green;
	border-bottom: 1px solid $dark-jean;
	transition: height 2s linear;
	text-align: center;
	color: $dark-jean;
	font-weight: bold;
	a {
		color: $dark-jean;
		text-decoration: underline;
	}
	a:hover {
		color: $white;
	}
	.text {
		padding: .5rem 0;
	}
	&.urgent {
		background-color: $red;
		a {
			color: $white;
			&:hover {
				color: $dark-jean;
			}
		}
	}
}

.main-header {
	@extend %clearfix;
	background-color: $dark-jean;
	padding: 0.5em 0 1em;
	.header-wrap {
		@extend .wrapper;
		@include at-most($bro-bear) {
			margin: 0;
			padding: 0 1em;
		}
	}
	.logo {
		background-image: url(logo-pastelbox.svg);
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		float: left;
		text-decoration: none;
		width: 3rem;
		height: 3rem;
	}
	h1 {
		color: $red;
		font-family: $feature-font;
		font-weight: 700;
		margin: 0.6rem 0 0 120%;
	}
}

.main-nav {
	float: right;
}
.main-menu {
	@extend %clearfix;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		padding-bottom: 0.5em;
		@media (min-width: $bro-bear) {
			float: left;
			padding: 0;
		}
		&:hover,
		&.current {
			a {
				color: $green;
			}
		}
		&.mobile-assist {
			@media (min-width: $bro-bear) {
				display: none;
			}
		}
		a {
			color: $white;
			display: block;
			font-family: $feature-font;
			text-decoration: none;
			text-transform: uppercase;
			@include at-least($bro-bear) {
				font-size: 1.5em;
				padding: 0.5em 1em 0;
				text-align: center;
			}
		}
		i {
			font-size: 1.3em;
			margin-right: 0.6em;
			position: relative;
			text-align: center;
			&:before {
				margin: 0;
			}
		}
	}
}

.form {
	label {
		display: block;
	}
	.disclaimer {
		label {
			color: lighten($dark-jean, 40%);
			font-size: 0.7em;
			&:hover {
				color: lighten($dark-jean, 10%);
			}
		}
	}
	.error {
		color: $red;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
form {
	&:before {
		background-color: rgba(0, 0, 0, .3);
		border-radius: 3px;
		content: '';
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&:after {
		animation: spin 1s infinite linear;
		border: .25rem solid rgba(255, 255, 255, .6);
		border-radius: 50%;
		border-top-color:rgba(0, 0, 0, .6);
		content: '';
		display: none;
		width: 40px;
		height: 40px;
		position: absolute;
		top: calc(50% - 20px);
		left: calc(50% - 20px);
	}
	&.loading {
		&:before,
		&:after {
			display: block;
		}
	}
}

// Footer
footer {
	background-color: $dark-jean;
	padding: 1em 0;
	a {
		color: $green;
		&:hover {
			color: $dark-green;
		}
	}
	p {
		color: $white;
	}
	.attribution {
		float: left;
	}
	.report-issue {
		float: right;
	}
	.footer-links {
		float: right;
		margin-top: 1em;
	}
}
