/* Imports */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700italic|Arimo:400,400italic,700|Sintony:400,700|Droid+Sans+Mono);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* Fonts */
$header-font: "Roboto Condensed", sans-serif;
$text-font: "Arimo", "Helvetica", sans-serif;
$feature-font: "Sintony", "Helvetica", sans-serif;
$monospace: "Droid Sans Mono", monospace;

/* Screen sizes */
$baby-bear:  320px;
$mama-bear:  600ox;
$papa-bear:  1000px;

/* Colors */
$background-color: #f8f8f8;
$orange: #ff8000;
$coal: #171717;
$gray: #d2d2d2;
$dark-gray: #aaa;
$light-gray: #8e8e8e;
$red: #dd514c;
$blue: #3498db;
$white: #ecf0f1;
$green: #38b87c;
$dark-green: #27ae60;

$dark-jean: #313841;
$very-dark-jean: #1c242b;

/* fontawesome */
[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
	margin-right: 0.3em;
}

@mixin at-least($device-width) {
	@media screen and (min-width: $device-width) {
		@content
	}
}

@mixin at-most($device-width) {
	@media screen and (max-width: $device-width - 1) {
		@content
	}
}

%clearfix {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

%button {
	background-color: $green;
	border-bottom: 4px solid $dark-green;
	border-radius: 2px;
	color: $white;
	line-height: 1;
	padding: 0.5em 1em;
	&:hover {
		background-color: $dark-green;
	}
}