<div class="header-banner">
	<a href="/were-moving">We're moving to Lexington on August 1, 2015!</a>
</div>
<div class="header-banner urgent">
	<a href="/were-moving/internet-fax">Our fax and internet are down. Check out when they will be back up.</a>
</div>