<div class="header-banner">
	{{#with global.banner}}
		{{#if link}}
			<a href="{{link}}">
		{{/if}}
		{{#if text}}
			<span class="text">{{text}}</span>
		{{/if}}
		{{#if link}}
			</a>
		{{/if}}
	{{/with}}
</div>
