<div class="header-banner">
	{{#if content.banner}}
		{{#if content.banner.link}}
			<a href="{{content.banner.link}}">
		{{/if}}
			{{content.banner.text}}
		{{#if content.banner.link}}
			</a>
		{{/if}}
	{{/if}}
</div>
