		<form id="contact-form" method="post" data-url="{{config.forms.url}}{{config.forms.contact}}">
			<div class="field single">
				<label class="desc" for="name">Your Name<span class="req">*</span>
				</label>
				<input id="name" name="name" type="text" value="" maxlength="255" tabindex="1" onkeyup="" required />
			</div>
			<div class="field single">
				<label class="desc" for="email">Your Email<span class="req">*</span>
				</label>
				<input id="email" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="2" required />
			</div>
			<div class="field">
				<label class="desc" for="phone">Your Phone<span class="req">*</span>
				</label>
				<input id="phone" name="phone" type="tel" tabindex="3" required>
			</div>
			<div class="field">
				<label class="desc" for="message">Your Message<span class="req">*</span>
				</label>
				<textarea id="message" name="message" spellcheck="true" rows="10" cols="50" tabindex="4" onkeyup="" required></textarea>
			</div>
			<div class="checkbox disclaimer">
				<label>
					<input type="checkbox" name="disclaimer" value="acknowledged" tabindex="5" required>The complete privacy of personal information transmitted over the Internet cannot be guaranteed by CBTA, LLC. By using this form, you are acknowledging that you accept responsibility for any risk of exposure to your personal health care information or personal identifiers. If you have concerns about this, we encourage you to contact us via more conventional means such as telephone, fax or the United States Postal Service.
				</label>
			</div>
			<input type="hidden" name="form_id" value="{{config.forms.contact}}"/>
			<p class="error"></p>
			<div class="field submit">
				<input class="btTxt submit" type="submit" tabindex="6" value="Submit"/>
			</div>
		</form>
