	<footer>
		<div class="wrapper">
			<p class="attribution">Built by <a href="http://tridnguyen.com">Tri Nguyen</a>. Hosted by Github Pages. © Copyrights {{getDate 'YYYY'}}. <a href="https://plus.google.com/102030715425733045907" rel="publisher"> <i class="fa fa-google-plus-square"></i> Google+</a>.</p>
			<p class="report-issue">If you run into an issue with the website, please <a href="mailto:tnguyen&#64;cbtallc.com?subject=CBTA LLC Website Support&body=Please provide the details of the issue. A screenshot of it would be helpful as well.">send us an email</a>.</p>
		</div>
	</footer>

	<script type="text/javascript" src="{{config.site-url}}/app.js"></script>
</body>
</html>
