		<footer>
			<div class="wrapper">
				<p class="attribution">Built by <a href="http://tridnguyen.com">Tri Nguyen</a>. Hosted by Github Pages. © Copyrights {{getDate 'YYYY'}}.</p>
				<p class="report-issue">If you run into an issue with the website, please <a href="mailto:tri@tridnguyen.com?subject=CBTA LLC Website Support&body=Please provide the details of the issue. A screenshot of it would be helpful as well.">contact us</a>.</p>
				<!--
				<div class="footer-links">
					<a href="{{config.site-url}}/resources">Resources for Patients</a>
				</div> -->
			</div><!-- .wrapper -->
		</footer>

		{{#isEqual content.env 'dev'}}
			<script type="text/javascript" data-main="/js/config.js" src="/bower_components/requirejs/require.js"></script>
			<script src="http://localhost:35731/livereload.js"></script>
		{{else}}
			<script type="text/javascript" src="/app.js"></script>
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-17798948-3', 'cbtallc.com');
				ga('send', 'pageview');
			</script>
		{{/isEqual}}
	</body>
</html>