{{> head}}
	<header class="main-header">
		<div class="wrapper">
			<a href="{{config.site-url}}"><h1>{{config.site-name}}</h1></a>
			{{> nav}}
		</div><!-- .wrapper -->
	</header><!-- .main-header -->