{{> head}}
	<header class="main-header">
		<div class="header-wrap">
			<a class="logo" href="{{config.site-url}}/">
				<h1>{{config.site-name}}</h1>
			</a>
			{{> nav}}
		</div><!-- .header-wrap -->
	</header><!-- .main-header -->
