					<nav class="main-nav" role="navigation">
						<ul class="main-menu">
							<li><a href="{{content.config.url}}/calendar" data-label="Appointment"><span class="fontawesome-calendar"></span>Appointment</a></li>
							<li><a href="{{content.config.url}}/treatments" data-label="Appointment"><span class="fontawesome-spinner"></span>Treatments</a></li>
						</ul><!-- .main-menu -->
					</nav><!-- .main-nav -->