					<nav class="main-nav" role="navigation">
						<ul class="main-menu">
							<li><a href="{{config.url}}"><span class="fontawesome-home">Home</span></a></li>
							<li><a href="{{config.url}}/appointment"><span class="fontawesome-user">Appointment</span></a></li>
						</ul><!-- .main-menu -->
					</nav><!-- .main-nav -->