					<nav class="main-nav" role="navigation">
						<ul class="main-menu">
							<li class="{{#isEqual content.title "Book an Appointment"}}current{{/isEqual}}"><a href="{{config.url}}/calendar"><span class="fontawesome-calendar"></span>Appointment</a></li>
							<li class="{{#isEqual content.title "Our Treatments"}}current{{/isEqual}}"><a href="{{config.url}}/treatments"><span class="fontawesome-spinner"></span>Treatments</a></li>
						</ul><!-- .main-menu -->
					</nav><!-- .main-nav -->