<nav class="main-nav" role="navigation">
	<ul class="main-menu">
		{{!-- fas fa-file-medical --}}
		<li class="{{#isEqual content.title "Medical Records"}}current{{/isEqual}}"><a href="{{config.site-url}}/medical-records"><i class="fa fa-file-o"></i>Medical Records</a></li>
		<li class="{{#isEqual content.title "Attorney Information"}}current{{/isEqual}}"><a href="{{config.site-url}}/attorney-information"><i class="fa fa-group"></i>Attorney Information</a></li>
		<li class="{{#isEqual content.title "Book an Appointment"}}current{{/isEqual}}"><a href="{{config.site-url}}/calendar/"><i class="fa fa-calendar"></i>Appointment</a></li>
		<li class="{{#isEqual content.title "Our Treatments"}}current{{/isEqual}}"><a href="{{config.site-url}}/treatments"><i class="fa fa-spinner"></i>Client Info</a></li>
	</ul><!-- .main-menu -->
</nav><!-- .main-nav -->
