<nav class="main-nav" role="navigation">
	<ul class="main-menu">
		<li class="{{#isEqual content.title "Join-Us"}}current{{/isEqual}}"><a href="{{config.site-url}}/join-us"><i class="fa fa-group"></i>Join Us</a></li>
		<li class="{{#isEqual content.title "Book an Appointment"}}current{{/isEqual}}"><a href="{{config.site-url}}/calendar/"><i class="fa fa-calendar"></i>Appointment</a></li>
		<li class="{{#isEqual content.title "Our Treatments"}}current{{/isEqual}}"><a href="{{config.site-url}}/treatments"><i class="fa fa-spinner"></i>Treatments</a></li>
		<li class="mobile-assist"><a href="{{#isEqual content.name "home"}}#location{{else}}/#location{{/isEqual}}"><i class="fa fa-map-marker"></i>Find us</a></li>
	</ul><!-- .main-menu -->
</nav><!-- .main-nav -->
