.calendar-container {
	@extend .wrapper;
	margin: 2em auto;
	overflow: visible;
}

.modal-header {
	h3 {
		margin: 0;
	}
}

.appointment-form {
	//display: none;
	padding: 0.5em;
	form {
		position: relative;
	}
	h2 {
		text-align: center;
	}
	.form-group {
		padding: 0.5em 0;
		label {
			&.error {
				color: $red;
				float: none;
				width: auto;
			}
		}
		input,
		textarea {
			&:focus {
				// border-color: $green;
			}
			&.error {
				outline: $red auto 3px;
			}
		}
		select {
			width: 13em; // seems to match the width of input
		}
	}
	input[type="submit"] {
		border: none;
		@extend %button;
		margin-top: 1em;
	}
}


// Full Calendar
.fc-button {
	background-color: $background-dark;
	background-image: none;
	border: none;
}

.fc-state-active {
	background-color: $background-darker;
}

.fc-header-title {
	h2 {
		font-size: 1.5em;
	}
}

.fc-head th {
	padding: .8rem 0;
}

.fc-unthemed .fc-today {
	background-color: $background-light;
}

.fc-event {
	&.jvermilyea {
		background-color: $blue;
		border-color: $blue;
	}
}
