.page {
	padding-top: 2rem;
	.main-content {
		font-size: 1.2rem;
		p {
			margin-bottom: 1em;
		}
	}
	.page-title {
		@extend .section-title;
	}
	h2 {
		color: $darker-green;
		font-family: $feature-font;
		font-size: 1.5rem;
	}
}

.col-2 {
	@media (min-width: 70em) {
		float: left;
		width: 50%;
	}
}

.office-map,
.office-image {
	text-align: center;
	figcaption {
		margin-top: 1rem;
	}
}

.office-map {
	iframe {
		width: 500px;
		height: 380px;
	}
}