.home {
	.background-wrapper {
		position: relative;
		&:after {
			background-image: url('../boston-large.png');
			background-repeat: no-repeat;
			background-size: cover;
			content: "";
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0.1;
			position: absolute;
			z-index: -1;
		}
	}
	.intro {
		@extend %clearfix;
		@extend .wrapper;
		padding-top: 1em;
		h1 {
			color: $dark-jean;
			font-family: $feature-font;
			font-size: 2em;
		}
		p {
			margin-top: 0;
		}
	}
	p {
		color: $very-dark-jean;
		line-height: 1.4;
		@media (min-width: $bro-bear) {
			font-size: 1.3em;
		}
	}
	.button {
		@extend %button;
		display: block;
		font-size: 1.5em;
		margin-right: 1em;
		text-decoration: none;
	}
}

// What we do
.services {
	@extend %clearfix;
	padding-bottom: 2em;
	.section-title {
		padding: 0;
		text-align: center;
	}
	.section-link {
		@extend .wrapper;
		background-color: darken($background-darker, 10%);
		color: $dark-jean;
		font-size: 1em;
		font-weight: normal;
		padding: 0.3em 0.5em;
		text-align: right;
		a {
			color: $dark-jean;
			text-decoration: none;
			@media (min-width: $bro-bear) {
				font-size: 1.3em;
			}
			&:hover {
				color: $darker-green;
				text-decoration: underline;
			}
		}
	}
	.service-wrapper {
		@extend .wrapper;
		padding-top: 1em;
	}
	.tabs-menu {
		@extend %clearfix;
		border: 2px solid darken($background-darker, 10%);
		display: table;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		li {
			background-color: $background-dark;
			width: 50%;
			float: left;
			padding: 1em;
			text-align: center;
			@media (min-width: $bro-bear) {
				width: auto;
			}
			&.active {
				background-color: $background-darker;
				a {
					color: $very-dark-jean;
				}
			}
			&:hover {
				cursor: pointer;
				a {
					color: $very-dark-jean;
				}
			}
		}
		a {
			color: #a1a1a1;
			display: block;
			height: 2em;
			@media (min-width: $bro-bear) {
				font-size: 1.3em;
				height: auto;
			}
			text-decoration: none;
		}
	}
	.tabs-content {
		border: 3px solid darken($background-darker, 10%);
		border-radius: 4px 4px 0 0;
		margin-top: -2em;
		padding: 1.5em 1.5em 1em;
		ul {
			@media (min-width: $bro-bear) {
				font-size: 1.3em;
			}
		}
		li {
			margin-bottom: 0.5em;
		}
	}
	.service {
		display: none;
		&.active {
			display: block;
		}
	}
	.button-wrap {
		margin-top: 1em;
		text-align: center;
		.button {
			display: inline-block;
			margin-top: 0.5em;
		}
	}
}

// Therapists
.therapists {
	background-color: $background-dark;
	border-top: 2px solid $background-darker;
	border-bottom: 2px solid $background-darker;
	padding: 1em 0 2em;
	.section-title {
		@extend .wrapper;
		text-align: center;
	}
}

.therapist-stubs {
	@extend %clearfix;
	padding-top: 1em;
	.stub {
		float: left;
		position: relative;
		width: 50%;
		margin: 1em 0;
		padding: 0 1em;
		@media (min-width: $big-bro-bear) {
			width: 33.33333%;
		}
		&.active {
			img {
				border-color: $green;
			}
		}
		a {
			@extend %clearfix;
			text-decoration: none;
		}
		img {
			background-color: $background-light;
			border: 5px solid $background-light;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
			width: 100%;
			height: auto;
			max-width: 150px;
			&:hover {
				border-color: $green;
			}
		}
		h3 {
			color: $very-dark-jean;
			font-size: 1.2em;
			margin: 0.5em 0;
			text-align: center;
		}
	}
}

.therapist-viewers {
	@extend %clearfix;
	.viewer {
		background-color: $background-darker;
		border-radius: 4px;
		color: $very-dark-jean;
		display: none;
		padding: 2em 1em;
		position: relative;
		&.active {
			display: block;
		}
		.close-button {
			color: $dark-jean;
			cursor: pointer;
			font-family: $monospace;
			font-size: 1.5em;
			padding: 0.5em 0.8em;
			position: absolute;
			top: -0.3em;
			right: -0.2em;
			&:hover {
				color: $red;
			}
		}
		h1 {
			color: $red;
			font-family: $feature-font;
			margin-top: 0;
		}
		.bio {
			font-size: 1.2em;
			line-height: 1.4;
		}
		.licenses {
			font-weight: 700;
			list-style: none;
			padding-left: 0;
		}
	}
}

.contact {
	@extend %clearfix;
	.form,
	.info {
		@media (min-width: $big-bro-bear) {
			float: left;
			width: 50%;
		}
	}
	.info {
		p {
			font-size: 1.2em;
			margin-top: 0;
		}
	}
	a {
		color: $dark-jean;
		text-decoration: none;
		&:hover {
			color: $green;
		}
	}
	form {
		width: 100%;
		float: left;
		p {
			margin-top: 0;
		}
	}
	label {
		color: $very-dark-jean;
		font-family: $feature-font;
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}
	.error {
		color: $red;
		font-size: 1em;
		margin-top: 0.5em;
	}
	input,
	textarea {
		font-size: 1.5em;
		&:focus {
			outline: $green auto 5px;
		}
		&.error {
			outline: $red auto 5px;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		height: 2em;
	}
	.field {
		@extend %clearfix;
		margin-bottom: 1em;

		input[type="text"],
		input[type="email"],
		textarea {
			padding: 0.5em;
			width: 85%;
		}
		.tel {
			width: 85%;
		}
		input[type="tel"] {
			display: inline;
			margin: 0 1%;
			text-align: center;
			width: 25%;
			&:nth-of-type(3) {
				margin-right: 0;
				width: 33%;
			}
		}
		.symbol {
			color: $very-dark-jean;
			font-size: 2vw;
		}
		&.submit {
			padding-right: 15%; // flush with other fields
		}
		input[type="submit"] {
			@extend %button;
			border-top: none;
			border-left: none;
			border-right: none;
			font-size: 1.5em;
			float: right;
			text-transform: uppercase;
		}
		&.hidden {
			display: none;
		}
	}
	.disclaimer {
		width: 85%;
	}
}