.treatments {
}
.anxiety {
	border-bottom: 2px solid $background-darker;
	padding: 1em 0 2em;
	.section-title {
		margin-bottom: 0.5em;
		padding-bottom: 0;
		@media (min-width: $big-bro-bear) {
			float: left;
			max-width: 30%;
			margin-bottom: 0;
			padding-left: 0.5em;
		}
	}
	.menu-wrapper {
		float: right;
		margin-left: 0.5em;
		margin-bottom: 0.5em;
		@media (min-width: $big-bro-bear) {
			float: none;
			margin-bottom: 0;
		}
	}
	.tabs-menu {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
		@media (min-width: $big-bro-bear) {
			width: 80%;
			max-width: none;
			margin-right: -1px;
		}
		li {
			background-color: $background-dark;
			border-top: 4px solid $background-dark;
			display: table; //for vertical align
			border-collapse: collapse;
			height: 4em;
			width: 100%;
			@media (min-width: $big-bro-bear) {
				float: left;
				width: 20%;
			}
			&.active,
			&.active:hover {
				background-color: $background-darker;
				border-color: $darker-green;
				a {
					color: $very-dark-jean;
					font-weight: 700;
				}
			}
			&:hover {
				border-color: $dark-green;
				cursor: pointer;
				a {
					color: $very-dark-jean;
				}
			}
			a {
				color: $dark-jean;
				text-decoration: none;
			}
			// for vertical align
			.container {
				display: table-cell;
				max-width: 7em;
				padding: 0.5em;
				vertical-align: middle;
				text-align: center;
			}
		}
	}
	.tabs-content {
		background-color: $background-light;
		@media (min-width: $big-bro-bear) {
			border: 2px solid $background-darker;
			padding: 0.5em 1em;
		}
	}
	.treatment {
		color: $very-dark-jean;
		display: none;
		&.active {
			display: block;
		}
	}
}
.depression {
	padding: 0 0 2em;
	text-align: justify;
	.title-wrapper {
		@extend %clearfix;
		@extend .wrapper;
		padding-bottom: 1em;
		@media (min-width: $big-bro-bear) {
			padding-right: 2em;
		}
	}
	.content-wrapper {
		@extend .wrapper;
		@media (min-width: $big-bro-bear) {
			background-color: $background-darker;
			padding: 2em;
		}
	}
	.section-title {
		float: right;
		margin: 0;
		padding-bottom: 0;
	}
	p {
		margin-top: 0;
	}
}