{{> header}}
	<div class="page wrapper">
		<h1 class="page-title">{{attorney-information.title}}</h1>
		<div class="main-content" role="main">{{{attorney-information.main}}}</div>
	</div>
{{> footer}}
