{{> header}}
	<div class="calendar-container">
		<p>Select an time slot on the calendar below to book an appointment.</p>
		<div class="calendar"></div>
		<div class="appointment-form form modal fade in" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3>Request an appointment</h3>
					</div>
					<div class="modal-body">
						{{> appointment}}
					</div><!-- .modal-body -->
				</div><!-- .modal-content -->
			</div><!-- .modal-dialog -->
		</div><!-- .modal -->
	</div><!-- .calendar-container -->
{{> footer}}