{{> header}}
	<div class="calendar"></div>
	<div class="appointment-form">
		<form method="post" method="post" action="{{config.forms.url}}{{config.forms.appointment-request}}">
			<h2>Request an appointment</h2>
			<div class="form-group">
				<label for="name">Your Name</label>
				<input type="text" name="name" required/>
			</div>
			<div class="form-group">
				<label for="email">Your Email</label>
				<input type="email" name="email" required/>
			</div>
			<div class="form-group">
				<label for="phone">Your Phone Number</label>
				<input type="tel" name="phone" required/>
			</div>
			<div class="form-group">
				<label for="therapist">Therapist</label>
				<select id="therapist" disabled>
					<option value="jvermilyea">Dr. Vermilyea</option>
					<option value="ehiggins">Dr. Higgins</option>
				</select>
			</div>
			<input type="hidden" id="therapist-input" name="therapist" value=""/>
			<h3>Appointment Time</h3>
			<div class="form-group">
				<label for="app-date">Date</label><input class="info" name="app-date" id="app-date" value="" readonly />
			</div>
			<div class="form-group">
				<label for="app-time">Time</label><input class="info" name="app-time" id="app-time" value="" readonly />
			</div>
			<input type="hidden" name="form_id" value="{{config.forms.appointment-request}}"/>
			<input type="submit" value="Request Appointment"/>
		</form>
	</div><!-- .appointment-form -->
{{> footer}}