{{> header}}
	<div class="calendar"></div>
	<div class="appointment-form">
		<label for="name">Your Name</label>
		<input type="text" name="name"/>
		<input type="submit" value="Request Appointment"/>
	</div><!-- .appointment-form -->
{{> footer}}